{% if site.teaching.size > 0 %}
<div class="teaching">
  <h2>Teaching</h2>
  <ul class="teaching-list">
    {% for item in site.teaching %}
    <li class="teaching-item">
      <span class="teaching-date">{{ item.date }}</span>
      <strong>{{ item.title }}</strong>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<p>No teaching materials available.</p>
{% endif %}