{% if site.teaching.size > 0 %}
  <div class="teaching">
    <ul class="teaching-list">
      {% for item in site.teaching %}
      <li class="teaching-item">
        <span class="teaching-date">{{ item.date }}</span>
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>No teaching materials available.</p>
{% endif %}